@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --neon-green: #ccff00;
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-green: var(--neon-green);
  --font-bebas: var(--font-bebas);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
  min-height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  /* Default body font */
}